# **Prueba #2**
En la siguiente pureba se evalua de manera EXCLUSIVA lo que se solicita, cualquier otra respuesta adicional a ella será valorada, más no evaluada. Entregue la prueba en un repositorio de github antes de el domingo 18 de Febrero a las 23:59:59.

## **Ejercicio 1** (40%)

Construya un DataFrame a partir del siguiente diccionario

`exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}`

con las siguientes etiquetas para los índices

`labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']`

1. Seleccione solo las columnas *name* y *score*.
  
2. Filtre las filas donde el número de intentos (attemps) sea mayor que 2.

3. Filtre las filas donde el *score* se encuentre entre 15 y 20 (incluidos)

4. Cambie el *score* en la fila 'd' a 11.5

5. Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna

6. Borre la fila 'k' y entregue nuevamente el DataFrame original.

7. Ordene el DataFrame por nombre en orden ascendente.

8. Reemplace los valores de la columna *qualify* que contiene los valores *yes* y *no* por los valores booleanos True y False respectivamente.

In [38]:
import pandas as pd

# Construir el DataFrame
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

In [39]:
# 1. Seleccione solo las columnas 'name' y 'score'
selected_columns = df[['name', 'score']]
print("1. Selección de columnas 'name' y 'score':\n", selected_columns)

1. Selección de columnas 'name' y 'score':
         name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James   10.0
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura   12.0
i      Kevin    8.0
j      Jonas   19.0

In [40]:
# 2. Filtre las filas donde el número de intentos (attempts) sea mayor que 2
mask_attempts = mask_score_range
filtered_attempts = df[mask_attempts]
print("\n2. Filtrar filas con más de 2 intentos:\n", filtered_attempts)

2. Filtrar filas con más de 2 intentos:
         name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [41]:
# 3. Filtre las filas donde el 'score' se encuentre entre 15 y 20 (incluidos)
mask_score_range = (df['score'] >= 15) & (df['score'] <= 20)
filtered_score_range = df[mask_score_range]
print("\n3. Filtrar filas donde el score está entre 15 y 20:\n", filtered_score_range)

3. Filtrar filas donde el score está entre 15 y 20:
         name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [42]:
# 4. Cambie el 'score' en la fila 'd' a 11.5
df.loc['d', 'score'] = 11.5
print("\n4. Cambiar el score en la fila 'd' a 11.5:\n", df)

4. Cambiar el score en la fila 'd' a 11.5:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [43]:
# 5. Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna
df.loc['k'] = ['Alice', 15.0, 2, 'yes']
print("\n5. Agregar una nueva fila con etiqueta 'k':\n", df)

5. Agregar una nueva fila con etiqueta 'k':
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k      Alice   15.0         2     yes

In [44]:
# 6. Borre la fila 'k' y entregue nuevamente el DataFrame original
df = df.drop('k', axis = 0)
print("\n6. Borrar la fila 'k':\n", df)

6. Borrar la fila 'k':
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [45]:
# 7. Ordene el DataFrame por nombre en orden ascendente
df = df.sort_values(by='name', ascending=True)
print("\n7. Ordenar el DataFrame por nombre en orden ascendente:\n", df)

7. Ordenar el DataFrame por nombre en orden ascendente:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James   11.5         3      no
j      Jonas   19.0         1     yes
c  Katherine   16.5         2     yes
i      Kevin    8.0         2      no
h      Laura   12.0         1      no
g    Matthew   14.5         1     yes
f    Michael   20.0         3     yes

In [46]:
# 8. Reemplace los valores de la columna 'qualify' que contiene los valores 'yes' y 'no' por los valores booleanos True y False respectivamente
replace = {"yes":True , "no":False}
df['qualify'] = df['qualify'].map(replace)
print("\n8. Reemplazar 'yes' y 'no' en la columna 'qualify' por True y False respectivamente:\n", df)

8. Reemplazar 'yes' y 'no' en la columna 'qualify' por True y False respectivamente:
         name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
e      Emily    9.0         2    False
d      James   11.5         3    False
j      Jonas   19.0         1     True
c  Katherine   16.5         2     True
i      Kevin    8.0         2    False
h      Laura   12.0         1    False
g    Matthew   14.5         1     True
f    Michael   20.0         3     True

## **Ejercicio 2** (30%)

Importe el dataset `athletes` del repositorio del curso y realice las siguientes tareas:

1. Importarlo como nombre athletes
2. Filtre el dataframe tal que solo se quede con los atletas que hayan ganado al menos una medalla.
3. Calcule la masa muscular por fila con una función como

$$I_{m.m.} = \frac{Weight}{Height^2}$$

4. Agrupe los datos por calculando la media por deporte para cada una del resto de características. ¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?

5. ¿Cuál es el pais con más participación femenina?

In [48]:
# Paso 1: Importar el conjunto de datos como 'athletes'
url = 'https://raw.githubusercontent.com/tomasate/Datos_Clases/main/Datos_1/athletes.csv'
athletes = pd.read_csv(url)

In [49]:
# 2. Filtrar el dataframe para quedarse solo con los atletas que hayan ganado al menos una medalla
athletes_con_medalla = athletes[(athletes['gold'] > 0) | (athletes['silver'] > 0) | (athletes['bronze'] > 0)]

In [51]:
# 3. Calcular la masa muscular por fila
athletes_con_medalla.loc[:, 'Muscle_Mass_Index'] = athletes_con_medalla['weight'] / (athletes_con_medalla['height'] ** 2)

## **Ejercicio 3 (30%)**

Importe el dataset de nba del repositorio de clase y responda (hint: Elimine las instancias con registros faltantes):

1. Cuáles son los equipos que pagan los salarios más altos (presente el resultado como un dataFrame con el nombre del equipo y la cantidad de dinero de la nómina)
2. Separe la variable *Age* en tres grupos y cree una nueva columna llamada *Age-Group* con esta información.<
3. Construya una tabla dinámica que muestre el salario promedio de los jugadores por equipo y posición para para los cinco equipos que pagan mejores salarios.